body {
    background-color: #5291AD;
}
#mainTitle{
	background-color: #5F9EA0;
	color: #191970;
	font-size: 50px;
	padding: 5px;
	text-align: center;
	border: 12px #00008B;
	border-style: groove;
}
th{
	font-size: 25px;
	padding: 5px;
	text-align: center;
	background-color: #AD6E52;
	border: 8px #DEB887;
    border-style: outset;
}
td{
	font-size: 20px;
	padding: 5px;
	background-color: #52AD9B;
	text-align: center;
	border: 3px #00FFFF;
	border-style: ridge;
}
a{

}
p{
    text-align: left;
}
